/* Signup.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.signup-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #2d3944;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: white;
  color: #2d3944;
  border: 1px solid #2d3944;
}

.captcha {
  margin-top: 15px;
}

.verify-option {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup-box p {
  margin-top: 15px;
  font-size: 14px;
}